:root{
    --red: #FF4136;
    --blue: #0074D9;
    --bg-color: white;
}

*{
    font-family: arial;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    margin-top: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    /* position: relative; */
    background-color: var(--bg-color);
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

button{
    background-color: var(--red);
    color: white !important;
    padding: 10px 15px;
    border-radius: 5px;
    /* border: 2px solid yellow; */
    cursor: pointer;
    outline: 0;
    border: 0;
    box-shadow: none;
    transition: background 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
}
button:hover{
    /* background-color: rgb(250, 250, 250); */
    box-shadow: 5px 5px 10px 0px rgb(150, 150, 150);
    transform: scale(1.05);
    /* color: blue; */
}

button:active{
    /* background-color: rgb(235, 235, 235); */
    transform: scale(1.00);
    /* color: orange; */
}

input[type="text"], input[type="number"]{
    border: 2px solid transparent;
    border-style: solid;
    border-bottom: 2px solid var(--blue);
    outline: 0;
    padding: 5px;
    margin-top: 5px;
    font-size: 20px;
    border-radius: 0;
    transition: border 0.2s, border-radius 0.2s;
}

input[type="text"]:focus, input[type="number"]:focus{
    border-radius: 50px;
    border: 2px solid var(--red);
    outline: 0;
}

.outer-popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.5);
}

.popup{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    max-height: 100vh;
    overflow-x: auto;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}

/* ID's */

#inner-container{
    /* text-align: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    overflow: auto;
    background-color: white;
    padding: 100px;
    border-radius: 10px;
}
#new-season{
    /* padding: 10px 15px; */
    background-color: var(--red);
    color: white;
    /* margin: 5px; */
    /* margin-left: 85px; */
    font-size: 20px;
    border-radius: 100px;
}
#screen2{
  display: none;
}
#new-label, #submit{
  /* padding: 5px 10px; */
  background-color: var(--red);
}
#screen3{
  display: none;
}
#screen2-2{
  display: none;
}
#search{
    width: 100%;
    height: 25px;
    font-size: 18px;
    flex-grow: 1;
}
#enter{
  margin-left: 3px;
  padding: 3px;
}
#screen4{
  display: none;
}
#screen5{
  display: none;
}
#screen6{
  display: none;
}
#screen7{
  display: none;
}
#search-container{
    display: flex;
    margin-top: 5px;
    max-width: 200px;
}
#team-list{
  padding: 10px;
  margin-top: 15px;
  overflow: auto;
  background-color: white;
  max-height: 150px;
  border-radius: 5px;
}
#team-number-screen-4{
  padding: 4px;
}
#buttons-screen3{
    position: sticky;
}
#team-number-screen-4{
  max-height: 20px;
  font-size: 50 px;
}
#add-match{
  background-color: var(--blue);
}
#red-alliance, #blue-alliance{
  font-size: 25px;
}
#match-num-heading{
  font-size: 15px;
}


/* Classes */
/* .team{
  font-size: 20px;
  color: var(--blue);
  text-decoration: underline;
  text-decoration-color: var(--red);
} */


.team{
    color: white;
    font-size: 20px;
    margin: 10px 0px;
    /*display: inline-block;*/
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    border: 0;
    box-shadow: none;
    transition: background 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
    /* max-width: 300px; */
    display: block;
    width: 100%;
}
.team:nth-child(odd){
    background-color: var(--red);
}
.team:nth-child(even){
   background-color: var(--blue);
}

.scouting-heading{
  /* text-decoration: underline; */
  text-decoration-color: var(--red);
  /*background-color: rgb(222, 221, 217);*/
  display: inline-block;
}
.screen3-buttons{
  background-color: var(--blue);
  color: white;
}
.wins-losses{
  padding: 10px;
}
.wins-Losses{
  margin-bottom: 10px;
  width: 50px;
}
.season{
  color: white;
  font-size: 20px;
  margin: 10px 0px;
  /*display: inline-block;*/
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  border: 0;
  box-shadow: none;
  transition: background 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
  /* max-width: 300px; */
  display: block;
  width: 100%;
  /*background-color: rgb(222, 221, 217);*/
}
.season:nth-child(odd){
    background-color: var(--red);
}
.season:nth-child(even){
   background-color: var(--blue);
}
.custom-input{
  display: block;
}
.season:hover{
    /* background-color: rgb(250, 250, 250); */
    box-shadow: 5px 5px 10px 0px rgb(150, 150, 150);
    transform: scale(1.01);
    /* color: blue; */
}

.season:active{
    /* background-color: rgb(235, 235, 235); */
    transform: scale(1.00);
    /* color: orange; */
}

.match{
    cursor: pointer;
}
.team-comments{
  width: 500px;
}
